<div class="header-container">
  <div class="dropdown-container" (mouseleave)="dropDownState=false">
    <div class="dropdown" [ngClass]="{ 'open' : dropDownState}">
      <button class="btn btn-default btn-xs dropdown-toggle" [ngClass]="{ 'private' : selectedProfile=='durgesh'}"
              type="button" data-toggle="dropdown" (click)="dropDownState=!dropDownState;">
        {{selectedProfile}}
      </button>
      <ul class="dropdown-menu">
        <li><a (click)="selectProfile('public')">Public</a></li>
        <li role="separator" class="divider"></li>
        <li><a (click)="selectProfile('durgesh')">Durgesh</a></li>
      </ul>
    </div>
  </div>
</div>
