.header-container {
  position: relative;
  min-height: 30px;
}

.dropdown-container {
  position: absolute;
  height: 100%;
  right: 0px;
}

.dropdown-menu {
  left: auto;
  right: 0px;
}

.dropdown-menu a {
  cursor: pointer;
}

.dropdown .btn {
  padding-right: 35px;
  text-transform: capitalize;
}

.dropdown .btn::after {
  content: '';
  background-image: url(./../../assets/images/profile-status.png);
  position: absolute;
  width: 22px;
  height: 17px;
  background-repeat: no-repeat;
  background-position: 0px center;
  right: 8px;;
}

.dropdown .btn.private::after {
  background-position: 100% center;
}
