<div class="footer-container container-fluid">
  <div class="footer-row row">
    <div class="footer-col col-xs-10 col-sm-10 col-md-4 col-lg-3">
      <ul>
        <li>Copyright &copy; 2017 Durgesh Patle</li>
        <li>All Rights Reserved</li>
      </ul>
    </div>
    <div class="footer-col col-xs-10 col-sm-10 col-md-4 col-lg-4">
      <div class="mini-menu-item">
        <a routerLink="/demo" routerLinkActive="active">
          <span>Demo</span>
        </a>
      </div>
      <div class="mini-menu-item">
        <a routerLink="/geeky" routerLinkActive="active">
          <span>Geeky</span>
        </a>
      </div>
      <div class="mini-menu-item">
        <a routerLink="/interests" routerLinkActive="active">
          <span>Other than code</span>
        </a>
      </div>
      <div class="mini-menu-item">
        <a routerLink="/profile" routerLinkActive="active">
          <span>Profile + Contact</span>
        </a>
      </div>
    </div>
  </div>
</div>
