.footer-container {

}

.footer-row {
  padding: 20px 0px;
}

.footer-col {
  margin: 10px 0px;
}

.mini-menu-item {
  display: inline-block;
  min-width: 130px;
}

.footer-col ul {
  list-style: none;
  padding: 0px;
}

.footer-col li {
  font-family: Open Sans;
  -webkit-font-smoothing: antialiased;
  font-size: 12px;
  line-height: 20px;
}

.mini-menu-item span {

}

.mini-menu-item a {
  color: black;
  font-size: 12px;
  cursor: pointer;
}
