<div class="login-wrapper container-fluid">
  <div class="terminator-container">
    <div class="terminator-header">
      guest@durgeshpatle.com: ~/login
      <div class="terminator-close" (click)="goBackToLastPage()"></div>
      <div class="terminator-subheader">guest@durgeshpatle.com: ~/login</div>
    </div>
    <div class="terminator-body">
      <div class="command-body">
        <div class="command-line" *ngFor="let command of commands">{{command}}</div>
        <div class="command-line">{{pathCommand}}</div>
        <span class="current-command"
              [ngClass]="{'entering-password': isPasswordEntryInProgress }">{{currentCommand}}</span>
        <img class="command-cursor" src="./../../assets/images/blink.gif">
      </div>
      <input type="text" class="textpad" [(ngModel)]="currentCommand" (keypress)="commandEntered($event)">
    </div>
  </div>
</div>
