.login-wrapper {
  position: fixed;
  z-index: 1;
  background: white;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.terminator-container {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: black;
  border-radius: 4px;
  overflow: hidden;
}

.terminator-header {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 37px;
  background-color: #494842;
  border-radius: 4px 4px 0px 0px;
  color: white;
  padding-left: 30px;
  padding-right: 15px;
  text-align: center;
  font-size: 11px;
  padding-top: 3px;
  font-family: monospace;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.terminator-close {
  position: absolute;
  background-image: url('./../../assets/images/terminator-buttons.png');
  background-position: 0% 0%;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  left: 6px;
  top: 4px;
  cursor: default;
  border-radius: 50%;
}

.terminator-close:hover {
  background-position: 100% 0%;
}

.terminator-subheader {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 16px;
  background-color: #c80003;
  background-image: url('./../../assets/images/terminator-icon.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
  padding-left: 30px;
  padding-right: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.terminator-body {
  position: absolute;
  top: 37px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: auto;
}

.terminator-body .textpad {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  resize: none;
  background-color: transparent;
  cursor: default;
  border: 0px;
  opacity: 0;
}

.terminator-body .command-body {
  position: absolute;
  bottom: 0px;
  padding-bottom: 20px;
  min-height: 100%;
}

.command-line {
  color: white;
  font-family: monospace;
  font-weight: 100;
  font-size: 12px;
  padding-left: 2px;
  padding-right: 3px;
}

@keyframes blink {
  from {border-right: 1px;}
  to {border-right: 0px;}
}

.command-line:last-of-type {
  display: inline-block;
  vertical-align: top;
}

.current-command {
  display: inline-block;
  color: white;
  font-family: monospace;
  font-weight: 100;
  font-size: 12px;
  padding-left: 2px;
  padding-right: 3px;
}

.current-command.entering-password {
  color:black;
}

.command-cursor {
  display: inline-block;
  margin-left:-7px;
  vertical-align: top;
}
