.dashboard-wrapper {
    background-color: #f7efea;
}

.header-row-item {
    display: inline-block;
    vertical-align: bottom;
    border-bottom: 5px solid white;
    padding: 15px 5px;
    margin: 5px 15px;
}

.row1 {
    display:-moz-box;
    display:-webkit-box;
    display:box;
    -webkit-box-align:end;
}

.header-row-heading, .header-menu-item li {
    font-family: Radikal-Medium;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 2px;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 20px;
    position: relative;
    top: 7px;
    text-transform: uppercase;
}

.header-row-subheading {
    font-size: 1.1em;
    font-family: Open Sans;
    font-weight: normal;
    margin-bottom: 5px;
    margin-top: 0px;
    letter-spacing: 0;
    line-height: 1.66667;
    font-style: italic;
}

.header-menu-item {
    padding-left: 0px;
    list-style: none;
}

.header-menu-item a {
  color: #333;
}

.row2 {

}
.content-row-item {
    margin: 40px 0px;
    text-align: center;
}
.content-image-wrapper {
    display: inline-block;
    width: 230px;
    height: 310px;
    border-bottom: 5px solid white;
    vertical-align: top;
}
.content-row-item img {

}

.content-image-wrapper h1 {
    font-family: Radikal-Medium;
    -webkit-font-smoothing: antialiased;
    font-size: 1.5em;
    letter-spacing: 2px;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.11111;
    margin-bottom: 2px;
    text-align: left;
    padding-left: 15px;
    color : #150101;

}

.content-image-wrapper p {
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  line-height: 19px;
  text-align: left;
  padding: 7px 15px;
  margin: 0px;
  color: #150101;
  font-weight: lighter;
  font-family: radical-medium;
}

.content-item-title {
    display: inline-block;
    padding: 5px 0px 0px 10px;
    border-top: solid 5px white;
    margin-top: -5px;
    width: 230px;
    vertical-align: bottom;
    text-align: left;
}

.content-item-title h3 {
    font-size: 1.1em;
    font-family: Open Sans;
    font-weight: normal;
    margin-bottom: 5px;
    margin-top: 0px;
    letter-spacing: 0;
    line-height: 1.66667;
}



/* Extra Small devices (mobiels 768px and below) */
@media (max-width: 768px) {
    .row1 {
        display:block;
        -webkit-box-align:initial;
    }

    .row2 {
        text-align: center;
    }

    .content-item-title {
        border-left: 5px solid white;
        margin-left: -5px;
    }

    .content-image-wrapper {
        border-left: 5px solid white;
        margin-left: -5px;
    }
}
