<div class="dashboard-wrapper container-fluid">
  <div class="row1 row">
    <div class="header-row-item col-xs-10 col-sm-4 col-md-3 col-lg-3">
      <h1 class="header-row-heading">Durgesh Patle</h1>
      <h2 class="header-row-subheading">Javascript Developer</h2>
    </div>
    <div class="header-row-item col-xs-10 col-sm-4 col-md-3 col-lg-3">
      <ul class="header-menu-item">
        <a routerLink="/demo" routerLinkActive="active">
          <li>Demo</li>
        </a>
        <a routerLink="/geeky" routerLinkActive="active">
          <li>Geeky</li>
        </a>
        <a routerLink="/interests" routerLinkActive="active">
          <li>Other than code</li>
        </a>
        <a routerLink="/profile" routerLinkActive="active">
          <li>Profile + Contact</li>
        </a>
      </ul>
    </div>
  </div>
  <div class="row2 row">
    <div class="content-row-item col-xs-10 col-sm-4 col-md-3 col-lg-3">
      <a routerLink="/demo" routerLinkActive="active">
        <div class="content-image-wrapper">
          <img src="./../../assets/images/dashboard-demo.gif">
        </div>
      </a>
      <div class="content-item-title">
        <h3>Demo</h3>
      </div>
    </div>
    <div class="content-row-item col-xs-10 col-sm-4 col-md-3 col-lg-3">
      <a routerLink="/geeky" routerLinkActive="active">
        <div class="content-image-wrapper">
          <img src="./../../assets/images/dashboard-technical.png">
        </div>
      </a>
      <div class="content-item-title">
        <h3>Geeky</h3>
      </div>
    </div>
    <div class="content-row-item col-xs-10 col-sm-4 col-md-3 col-lg-3">
      <div class="content-image-wrapper">
        <h1>HELLO</h1>
        <p>I am professional Javascript developer having work experience of various client and server
          applications. Read more about me <a>here.</a></p>
        <p>This is my personal technical dashboard. Only public profile is visible to guest user.
        </p>
      </div>
      <div class="content-item-title">
        <h3>&lt;/&gt;</h3>
      </div>
    </div>
    <div class="content-row-item col-xs-10 col-sm-4 col-md-3 col-lg-3">
      <a routerLink="/interests" routerLinkActive="active">
        <div class="content-image-wrapper">
          <img src="./../../assets/images/dashboard-personal.png">
        </div>
      </a>
      <div class="content-item-title">
        <h3>Other than code</h3>
      </div>
    </div>
    <div class="content-row-item col-xs-10 col-sm-4 col-md-3 col-lg-3">
      <a routerLink="/profile" routerLinkActive="active">
        <div class="content-image-wrapper">
          <img src="./../../assets/images/dashboard-profile.png">
        </div>
      </a>
      <div class="content-item-title">
        <h3>Profile + Contact</h3>
      </div>
    </div>
  </div>
</div>
