.geeky-wrapper {
  background-color: #d8e7e9;
}

.header-row-item {
  display: inline-block;
  vertical-align: bottom;
  border-bottom: 5px solid white;
  padding: 15px 5px;
  margin: 5px 15px;
}

.header-row-item h2 {
  font-family: Radikal-Medium;
  -webkit-font-smoothing: antialiased;
  font-size: 1.5em;
  letter-spacing: 2px;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1.11111;
  margin-bottom: 2px;
  text-align: left;
  padding-left: 15px;
  color: #150101;
}

.header-row-item p {
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  line-height: 19px;
  text-align: left;
  padding: 7px 15px;
  margin: 0px;
  color: #150101;
  font-weight: lighter;
  font-family: radical-medium;
}

.row1 {
  display: -moz-box;
  display: -webkit-box;
  display: box;
  -webkit-box-align: end;
}

.html-words {
  height: 300px;
}

.html-word {
  width: 25%;
  left: 0%;
  bottom: 10px;
  position: absolute;
  top: 10px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.html-1 {
  background-image: url("../../assets/images/html1.png");
}

@keyframes html-2-anim {
  from {
    left: 0%;
  }
  to {
    left: 25%;
  }
}

.html-2 {
  background-image: url("../../assets/images/html2.png");
  animation-name: html-2-anim;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes html-3-anim {
  from {
    left: 0%;
  }
  to {
    left: 50%;
  }
}

.html-3 {
  background-image: url("../../assets/images/html3.png");
  animation-name: html-3-anim;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes html-4-anim {
  from {
    left: 0%;
  }
  to {
    left: 75%;
  }
}

.html-4 {
  background-image: url("../../assets/images/html4.png");
  animation-name: html-4-anim;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.technology-container {
  height: 280px;
  background-color: white;
  overflow: hidden;
}

.technology-container .background-slate {
  background-image: url('../../assets/images/technologies.png');
  position: absolute;
  height: 100%;
  right:-15px;
  left: 0px;
  background-size: 80%;
  background-repeat: repeat;
  box-shadow: inset 0 0 20px black;
  transform: translateX(-5px);
  -webkit-transition: background-position 0.3s linear;
  -moz-transition: background-position 0.3s linear;
  -ms-transition: background-position 0.3s linear;
  -o-transition: background-position 0.3s linear;
  transition: background-position 0.3s linear;
}

.technology-container .background-slate .overlay {
  position: absolute;
  left: 0px;
  top:0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

/* Extra Small devices (mobiels 768px and below) */
@media (max-width: 768px) {
  .row1 {
    display: block;
    -webkit-box-align: initial;
  }

  .technology-container .background-slate {
    background-size: 135%;
  }
}
