<div class="geeky-wrapper container-fluid">
  <div class="row1 row">
    <div class="header-row-item col-xs-10 col-sm-4 col-md-4 col-lg-4">
      <h2>Web applications</h2>
      <p>Creating awesomeness on HTML document</p>
    </div>
    <div class="header-row-item html-words col-xs-10 col-sm-7 col-md-7 col-lg-7">
      <div class="html-word words html-1"></div>
      <div class="html-word words html-2"></div>
      <div class="html-word words html-3"></div>
      <div class="html-word words html-4"></div>
    </div>
  </div>
  <div class="row2 row">
    <h2>With Technologies</h2>
    <div class="technology-container col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="background-slate" moving-background>
        <div class="overlay"></div>
      </div>
    </div>
  </div>
</div>

